<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        {% block less %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="minWidth">
            {% block menu %}{% endblock %}

            <div class="mainBody">
                {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
