<div id="topbar">
    <div id="logoBox">
        <a href="#">Merchandiser</a>
    </div>

    <form action="" method="post" id="loginForm">
        <ul>
            <li>
                <label for="Username">Username</label>
                <input type="text" name="username" />
            </li>
            <li>
                <label for="Password">Password</label>
                <input type="password" name="password" />
            </li>
            <li>
                <input type="submit" value="Login">
            </li>
        </ul>
    </form>
    
<div class="clear"></div>
</div>
<!-- end: #topbar -->
{% include 'default/menu.html.twig' %}