<div id="main_tab">
	<ul>
		<!-- <li class="current_page"> -->
		<li><a href="#">Daily</a>
			<ul>
				<li><a href="#">Sales Receivables</a></li>
				<li><a href="#">Purchase Payables</a></li>
				<li><a href="#">Cash Checks</a></li>
				<li><a href="#">Warehouse</a></li>
				<li class="separator"></li>
				<li><a href="#">General Ledger</a></li>
				<li class="separator"></li>
				<li><a href="#">New/Edit/Delete</a></li>
				<li><a href="#">Reports</a></li>
				<li><a href="#">Output to Printer</a></li>
				<li class="separator"></li>
				<li><a href="#">User Login/Logout</a></li>
				<li class="separator"></li>
				<li><a href="#">exit</a></li>
			</ul>
		</li>
		<li><a href="#">Ledgers</a>
			<ul>
				<li><a href="#">Inventory Items</a></li>
				<li class="separator"></li>
				<li><a href="#">Customer Accounts</a></li>
				<li><a href="#">Supplier Accounts</a></li>
				<li><a href="#">Agent / Sales Reps</a></li>
				<li class="separator"></li>
				<li><a href="#">Subsidiary Ledgers</a></li>
				<li><a href="#">GL Accounts</a></li>
				<li class="separator"></li>
				<li><a href="#">Top Sales / Purchases</a></li>
			</ul>
		</li>
		<li><a href="#">Periodic</a></li>
		<li><a href="#">System</a></li>
		<li><a href="#">Help</a></li>
	</ul>
</div>